.ingredients-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 72px;
}

.ingredients-container-text {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 335px;
  gap: 24px;
  padding-bottom: 32px;
}

.ingredients-title {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #111111;
  margin: 0 26px 0 26px;
}

.ingredients-title-span {
  color: var(--brand-color);
}

.ingredients-text {
  font-style: normal;
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  letter-spacing: -0.02em;
  color: var(--background-color);
}

.ingredients-list-container {
  width: 335px;
}

.ingredients-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.ingredients-item-choco {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  width: 335px;
  height: 270px;
  background: var(--brand-color);
  border-radius: 15px;
  order: 1;
}

.ingredients-item-choco:hover,
.ingredients-item-choco:focus {
  border: none;
  background-color: transparent;
}

.ingredients-image {
  width: 224px;
  height: 171px;
  margin-top: 28px;
  margin-right: 55px;
  margin-bottom: 25px;
  margin-left: 56px;
}

.choco-text {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: var(--background-white);
  margin-right: 179px;
  margin-bottom: 28px;
  margin-left: 28px;
}

.ingredients-item-milk {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  width: 335px;
  height: 270px;
  background: var(--background-white);
  border: 1px solid var(--brand-color);
  border-radius: 15px;
  order: 2;
}

.ingredients-item-milk:hover,
.ingredients-item-milk:focus {
  border: none;
  background-color: transparent;
}

.milk-text {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: var(--background-color);
  margin-right: 271px;
  margin-bottom: 28px;
  margin-left: 28px;
}

.ingredients-item-nuts {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  width: 335px;
  height: 270px;
  background: var(--dark-violet-color);
  border-radius: 15px;
  order: 3;
}

.ingredients-item-nuts:hover,
.ingredients-item-nuts:focus {
  border: none;
  background-color: transparent;
}

.ingredients-item-beans {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  width: 335px;
  height: 270px;
  background: var(--background-white);
  border: 1px solid var(--brand-color);
  border-radius: 15px;
  order: 4;
}

.ingredients-item-beans:hover,
.ingredients-item-beans:focus {
  border: none;
  background-color: transparent;
}

/* overlay*/
.overlay {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  width: 335px;
  height: 270px;
  margin: 0 auto;
  padding: 28px;
  background-color: var(--background-white);
  border-radius: 15px;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  /*
      width: 100%;
      height:100%;*/
  transform: translateY(100%);
  transition: var(--transition);
}

.ingredients-item-choco:hover .overlay,
.ingredients-item-choco:focus .overlay {
  transform: translateY(0);
}

.ingredients-item-milk:hover .overlay,
.ingredients-item-milk:focus .overlay {
  transform: translateY(0);
}

.ingredients-item-nuts:hover .overlay,
.ingredients-item-nuts:focus .overlay {
  transform: translateY(0);
}

.ingredients-item-beans:hover .overlay,
.ingredients-item-beand:focus .overlay {
  transform: translateY(0);
}

.overlay-choco-title {
  width: 163px;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: var(--background-color);
  margin-top: 0;
  margin-bottom: 8px;
  margin-right: 116px;
  margin-left: 0;
}

.overlay-text-first {
  padding: 6px 16px;
  height: 24px;
  margin-right: 6px;
  color: var(--background-white);
  background: var(--brand-color);
  border-radius: 35px;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.2;
  /*
      display: flex;
      align-items: center;*/
  text-align: center;
}

.overlay-text-second {
  padding: 6px 16px;
  height: 24px;
  background: var(--background-white);
  border: 1px solid var(--brand-color);
  border-radius: 35px;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.2;
  display: flex;
  align-items: center;
  text-align: center;
  color: var(--background-color);
}

.overlay-desc {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: var(--background-color);
  margin-top: 14px;
}

.overlay-milk-title {
  /* width: 46px; */
  font-weight: 600;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: var(--background-color);
  margin-top: 0;
  margin-bottom: 8px;
  margin-right: 233px;
  margin-left: 0;
}

.nuts-text {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: var(--background-white);
  margin-right: 268px;
  margin-bottom: 28px;
  margin-left: 28px;
}

.overlay-nuts-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: var(--background-color);
  margin-top: 0;
  margin-bottom: 8px;
  margin-right: 230px;
  margin-left: 0;
}

.beans-text {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: var(--background-color);
  margin-right: 115px;
  margin-bottom: 28px;
  margin-left: 28px;
}

.overlay-beans-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: var(--background-color);
  margin-top: 0;
  margin-bottom: 8px;
  margin-right: 38px;
  margin-left: 0;
}

@media screen and (min-width: 768px) {
  .ingredients-container {
    padding-bottom: 100px;
  }
  .ingredients-container-text {
    width: 486px;
    gap: 28px;
    padding-bottom: 50px;
  }
  .ingredients-title {
    font-size: 24px;
    line-height: 1.17;
  }
  .ingredients-list-container {
    width: 704px;
  }
  .ingredients-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 32px;
    column-gap: 32px;
  }
  .ingredients-item-choco {
    width: 336px;
  }
  .ingredients-item-milk {
    width: 336px;
    order: 3;
  }
  .ingredients-item-nuts {
    width: 336px;
    order: 4;
  }
  .ingredients-item-beans {
    width: 336px;
    order: 2;
  }
  .overlay {
    width: 336px;
    transform: translateY(-100%);
  }
}

@media screen and (min-width: 1200px) {
  .ingredients-container {
    padding-bottom: 128px;
  }
  .ingredients-list-container {
    width: 1137px;
  }
  .ingredients-list {
    flex-wrap: nowrap;
    gap: 19px;
  }
  .ingredients-item-choco {
    width: 270px;
  }
  .ingredients-image {
    width: 206px;
    height: 160px;
    margin-right: 36px;
    margin-bottom: 36px;
    margin-left: 28px;
  }
  .choco-text {
    margin-right: 114px;
  }
  .ingredients-item-milk {
    width: 270px;
    order: 2;
  }
  .milk-text {
    margin-right: 206px;
  }
  .ingredients-item-nuts {
    width: 270px;
    order: 3;
  }
  .ingredients-item-beans {
    width: 270px;
    order: 4;
  }
  .overlay {
    width: 270px;
    padding: 10px;
    transform: translateY(-100%);
  }
  .overlay-choco-title {
    margin-right: 67px;
  }
  .overlay-milk-title {
    margin-right: 184px;
  }
  .nuts-text {
    margin-right: 203px;
  }
  .overlay-nuts-title {
    margin-right: 181px;
  }
  .beans-text {
    margin-right: 50px;
  }
  .overlay-beans-title {
    margin-right: 16px;
  }
}
