<footer>
  <div>
    <h2 id="footer"><span>Chocolate</span> a delicious cure for a bad day</h2>
  </div>
  <div>
    <p>Contact us</p>
    <address>
      <ul>
        <li>
          <a> +380 (68) 443-94-26</a>
        </li>
        <li>
          <a> simplychoc@gmail.com</a>
        </li>
      </ul>
    </address>
  </div>

  <ul>
    <li>
      <a href="https://www.instagram.com" target="_blank">
        <svg class="footer-social-icon" width="22" height="22">
          <use href="../img/icons.svg#instagram"></use>
        </svg>
      </a>
    </li>
    <li>
      <a href="https://www.x.com" target="_blank">
        <svg class="footer-social-icon" width="22" height="22">
          <use href="../img/icons.svg#twitter"></use>
        </svg>
      </a>
    </li>
  </ul>

  <div></div>

  <ul>
    <li>
      <a href="#home"> Home</a>
    </li>
    <li>
      <a href="#how_its_made"> How it's made</a>
    </li>
    <li>
      <a href="#products"> Our Products</a>
    </li>
    <li>
      <a href="#top-sellers"> Top sellers</a>
    </li>
    <li>
      <a href="#is_loved"> Chocolate is loved</a>
    </li>
  </ul>
</footer>
