<section class="how-its-made" id="how_its_made">
  <h1 class="how-its-made-title">
    HOW IT'S<span class="how-its-made-span"> MADE ?</span>
  </h1>
  <div class="how-its-made-items">
    <div class="how-its-made-img">
      <picture>
        <source
          srcset="
            ../img/melt_choc_desk1x.jpg 1x,
            ../img/melt_choc_desk2x.jpg 2x
          "
          media="(min-width: 1200px)"
          type="image/jpg"
        />
        <source
          srcset="../img/melt_choc_tab1x.jpg 1x, ../img/melt_choc_tab2x.jpg 2x"
          media="(min-width: 768px)"
          type="image/jpg"
        />
        <source
          srcset="../img/melt_choc_mob1x.jpg 1x, ../img/melt_choc_mob2x.jpg 2x"
          media="(max-width: 767px)"
          type="image/type"
        />
        <img
          class="him-image"
          src="../img/melt_choc_mob1x.jpg"
          alt="a picture of melted chocolate"
        />
      </picture>
    </div>
    <div class="how-its-made-list list">
      <h3 class="how-its-made-p">
        Try our chocolates today and discover the perfect balance of flavor
      </h3>
      <ul class="how-its-made-ul">
        <li class="how-its-made-li">
          Heat the milk in a saucepan without bringing it to a boil. Add sugar
          and cocoa powder.
        </li>
        <li class="how-its-made-li">
          At the same time, prepare a water bath. Melt the butter on it.
        </li>
        <li class="how-its-made-li">
          "Mix" the milk mixture and already liquid butter. Mix thoroughly with
          a silicone spatula so that the mass becomes uniform and silky
        </li>
        <li class="how-its-made-li">
          Heat the mixture over low heat, letting it barely boil.
        </li>
        <li class="how-its-made-li">
          Pour the chocolate into special containers (can be replaced with ice
          molds). Allow to cool and harden.
        </li>
      </ul>
    </div>
  </div>
</section>
