<section class="ingredients-section">
  <div class="container ingredients-container">
    <div class="ingredients-container-text">
      <h2 class="ingredients-title">
        IT ALL ADDS UP TO ONE EXCEPTIONAL
        <span class="ingredients-title-span">TASTE</span> SENSATION
      </h2>
      <p class="ingredients-text">
        At Simply Chocolate, we believe that the secret to exceptional chocolate
        is in the details. From the sourcing of the finest ingredients to the
        careful crafting of each individual piece, every step of our process
        adds up to one exceptional taste sensation.
      </p>
    </div>

    <div class="ingredients-list-container">
      <ul class="ingredients-list">
        <li class="ingredients-item-choco">
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="
                ../img/chocolate_desk1x.jpg 1x,
                ../img/chocolate_desk2x.jpg 2x
              "
              type="image/jpg"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ../img/chocolate_mobtab1x.jpg 1x,
                ../img/chocolate_mobtab2x.jpg 2x
              "
              type="image/jpg"
            />
            <source
              media="(max-width:767px)"
              srcset="
                ../img/chocolate_mobtab1x.jpg 1x,
                ../img/chocolate_mobtab2x.jpg 2x
              "
              type="image/jpg"
            />

            <img
              class="ingredients-image"
              src="../img/chocolate_mobtab1x.jpg"
              alt="Milk Chocolate"
              width="224"
              height="171"
              loading="lazy"
            />
          </picture>
        </li>

        <li class="ingredients-item-milk">
          <picutre>
            <source
              media="(min-width: 1200px)"
              srcset="../img/milk_desk1x.jpg 1x, ../img/milk_desk2x.jpg 2x"
              type="image/jpg"
            />
            <source
              media="(min-width: 768px)"
              srcset="../img/milk_mobtab1x.jpg 1x, ../img/milk_mobtab2x.jpg 2x"
              type="image/jpg"
            />
            <source
              media="(max-width:767px)"
              srcset="../img/milk_mobtab1x.jpg 1x, ../img/milk_mobtab2x.jpg 2x"
              type="image/jpg"
            />
            <img
              class="ingredients-image"
              src="../img/milk_mobtab1x.jpg"
              alt="Milk"
              width="224"
              height="171"
              loading="lazy"
            />
          </picutre>
        </li>
        <li class="ingredients-item-nuts">
          <picture>
            <source
              media="(min-width:1200px)"
              srcset="../img/nuts_desk1x.jpg 1x, ../img/nuts_desk2x.jpg 2x"
              type="image/jpg"
            />
            <source
              media="(min-width:768px)"
              srcset="../img/nuts_mobtab1x.jpg 1x, ../img/nuts_mobtab2x.jpg 2x"
              type="image/jpg"
            />
            <source
              media="(max-width:767px)"
              srcset="../img/nuts_mobtab1x.jpg 1x, ../img/nuts_mobtab2x.jpg 2x"
              type="image/jpg"
            />
            <img
              class="ingredients-image"
              src="../img/nuts_mobtab1x.jpg"
              alt="Nuts"
              width="224"
              height="171"
              loading="lazy"
            />
          </picture>
        </li>
        <li class="ingredients-item-beans">
          <picture>
            <source
              media="(min-width:1200px)"
              srcset="../img/beans_desk1x.jpg 1x, ../img/beans_desk2x.jpg 2x"
              type="image/jpg"
            />
            <source
              media="(min-width:768px)"
              srcset="
                ../img/beans_mobtab1x.jpg 1x,
                ../img/beans_mobtab2x.jpg 2x
              "
              type="image/jpg"
            />
            <source
              media="(max-width:767px)"
              srcset="
                ../img/beans_mobtab1x.jpg 1x,
                ../img/beans_mobtab2x.jpg 2x
              "
              type="image.jpg"
            />
            <img
              class="ingredients-image"
              src="../img/beans_mobtab1x.jpg"
              alt="Choco Beans"
              width="224"
              height="171"
              loading="lazy"
            />
          </picture>
        </li>
      </ul>
    </div>
  </div>
</section>
