<div class="backdrop is-hidden" data-modal-3>
  <div class="thumb-div">
    <button data-modal-close-3 type="button" class="thumb-button">
      <svg class="thumb-svg" width="12" height="12">
        <use href="../img/icons.svg#cross_black"></use>
      </svg>
    </button>
    <h3 class="modal-sell-title">
      BUY <span class="modal-sell-span"> NOW</span>
    </h3>
    <ul class="modal-sell-ul list">
      <li class="modal-sell-li">
        <div class="modal-sell-div">
          <img
            class="modal-sell-img"
            srcset="
              ../img/buy_modal/buy-choc1_mob.png        84w,
              ../img/buy_modal/buy-choc1_mob2x.png     168w,
              ../img/buy_modal/buy-choc1_tabdesk.png   121w,
              ../img/buy_modal/buy-choc1_tabdesk2x.png 240w
            "
            sizes="(min-width: 768px) 121px, (min-width: 320px) 84px, 100vw"
            src="../img/buy_modal/buy-choc1_mob.png"
            alt="Choco1"
          />
          <button class="modal-sell-button" type="button">100 g</button>
        </div>
      </li>
      <li class="modal-sell-li">
        <div class="modal-sell-div">
          <img
            class="modal-sell-img"
            srcset="
              ../img/buy_modal/buy-choc2_mob.png        84w,
              ../img/buy_modal/buy-choc2_mob2x.png     168w,
              ../img/buy_modal/buy-choc2_tabdesk.png   121w,
              ../img/buy_modal/buy-choc2_tabdesk2x.png 240w
            "
            sizes="(min-width: 768px) 121px, (min-width: 320px) 84px, 100vw"
            src="../img/buy_modal/buy-choc2_mob.png"
            alt="Choco2"
          />
          <button class="modal-sell-button" type="button">200 g</button>
        </div>
      </li>
      <li class="modal-sell-li">
        <div class="modal-sell-div">
          <img
            class="modal-sell-img"
            srcset="
              ../img/buy_modal/buy-choc3_mob.png        84w,
              ../img/buy_modal/buy-choc3_mob2x.png     168w,
              ../img/buy_modal/buy-choc3_tabdesk.png   121w,
              ../img/buy_modal/buy-choc3_tabdesk2x.png 240w
            "
            sizes="(min-width: 768px) 121px, (min-width: 320px) 84px, 100vw"
            src="../img/buy_modal/buy-choc3_mob.png"
            alt="Choco3"
          />
          <button class="modal-sell-button" type="button">300 g</button>
        </div>
      </li>
    </ul>
    <form class="modal-sell-form">
      <ul class="sell-form-ul list">
        <li class="sell-form-li">
          <label class="sell-form-label">
            Personal information
            <ul class="sell-personal-ul list">
              <li class="sell-personal-li">
                <input class="input" type="text" placeholder="Name" required />
              </li>
              <li class="sell-personal-li">
                <input
                  class="input"
                  type="text"
                  placeholder="Surname"
                  required
                />
              </li>
            </ul>
          </label>
        </li>
        <li class="sell-form-li">
          <label class="sell-form-label">
            Email
            <input
              class="input"
              type="email"
              placeholder="Enter your email"
              required
            />
          </label>
        </li>
        <li class="sell-form-li">
          <label class="sell-form-label">
            Phone number
            <div class="phone-input-div">
              <input
                class="input input-number"
                placeholder="Phone number"
                required
                minlength="9"
                maxlength="9"
              />
            </div>
          </label>
        </li>
        <li class="sell-form-li">
          <label class="sell-form-label">
            Card number
            <div class="card-input-div">
              <input
                class="input input-card"
                type="text"
                placeholder="Enter Card"
                required
                minlength="16"
                maxlength="16"
              />
            </div>
          </label>
        </li>
        <li class="sell-form-li">
          <label class="sell-form-label" for="modal_comment">
            Comment
            <textarea
              class="input input-comment"
              name="Comment"
              id="modal_comment"
              rows="4"
              placeholder="Enter text"
            >
            </textarea>
          </label>
        </li>
      </ul>
    </form>
    <button class="sell-btn-modal" type="submit">Submit</button>
  </div>
</div>
