<div class="backdrop-rev is-hidden-rev" data-modal-2>
  <div class="thumb-div-rev">
    <button data-modal-close-2 type="button" class="thumb-button-rev">
      <svg width="12" height="12" class="thumb-svg-rev">
        <use href="../img/icons.svg#cross_black"></use>
      </svg>
    </button>
    <h3 class="modal-title-reviews">
      LEAVE A REVIEW ABOUT <span class="modal-reviews-span">OUR CHOCOLATE</span>
    </h3>
    <form class="modal-form-rev">
      <ul class="input-ul-rev list">
        <li class="input-li-rev">
          <input class="input-rev" type="text" placeholder="Name" />
        </li>
        <li class="input-li-rev">
          <input class="input-rev" type="text" placeholder="Enter your email" />
        </li>
        <li class="input-li-rev">
          <div class="input-number-div">
            <input
              class="input-rev input-number-rev"
              placeholder="Phone number"
              minlength="9"
              maxlength="9"
            />
          </div>
        </li>
        <li class="input-li-rev">
          <textarea
            class="input-rev input-comment-rev"
            name="Comment"
            id="modal_comment"
            rows="4"
            placeholder="Enter text"
          ></textarea>
        </li>
      </ul>
    </form>
    <button class="button-modal-rev" type="submit">Send</button>
  </div>
</div>
