<section id="products" class="products">
  <div class="container">
    <h2 class="products-title">OUR <span>PRODUCTS</span></h2>
    <div class="swiper swiper-p">
      <ul class="products-list swiper-wrapper">
        <li class="products-item swiper-slide">
          <a href="" class="products-link">
            <img
              srcset="
                ../img/products/orange1x.jpg 1x,
                ../img/products/orange2x.jpg 2x
              "
              src="../img/products/orange1x.jpg"
              alt="Orange Chocolate Bar"
              width="230"
              loading="lazy"
            />
          </a>
          <h3 class="products-name">ORANGE</h3>
          <p class="products-desc">Dark chocolate</p>
          <button type="button" class="products-button">
            <span class="products-price">45 UAH</span>
          </button>
        </li>
        <li class="products-item swiper-slide">
          <a href="" class="products-link">
            <img
              srcset="
                ../img/products/apple-cran1x.jpg 1x,
                ../img/products/apple-cran2x.jpg 2x
              "
              src="../img/products/apple-cran1x.jpg"
              alt="Apple & Cranberry Chocolate Bar"
              width="230"
              loading="lazy"
            />
          </a>
          <h3 class="products-name">APPLE&CRANBERRY</h3>
          <p class="products-desc">Milk chocolate</p>
          <button type="button" class="products-button">
            <span class="products-price">50 UAH</span>
          </button>
        </li>
        <li class="products-item swiper-slide">
          <a href="" class="products-link">
            <img
              srcset="
                ../img/products/lime-salt1x.jpg 1x,
                ../img/products/lime-salt2x.jpg 2x
              "
              src="../img/products/lime-salt1x.jpg"
              alt="Lime&Sea Salt Chocolate Bar"
              width="230"
              loading="lazy"
            />
          </a>
          <h3 class="products-name">LIME&SEA SALT</h3>
          <p class="products-desc">Dark chocolate</p>
          <button type="button" class="products-button">
            <span class="products-price">66 UAH</span>
          </button>
        </li>
        <li class="products-item swiper-slide">
          <a href="" class="products-link">
            <img
              srcset="
                ../img/products/pineapple1x.jpg 1x,
                ../img/products/pineapple2x.jpg 2x
              "
              src="../img/products/pineapple1x.jpg"
              alt="Pineapple Chocolate Bar"
              width="230"
              loading="lazy"
            />
          </a>
          <h3 class="products-name">PINEAPPLE</h3>
          <p class="products-desc">Dark chocolate</p>
          <button type="button" class="products-button">
            <span class="products-price">54 UAH</span>
          </button>
        </li>
        <li class="products-item swiper-slide">
          <a href="" class="products-link">
            <img
              srcset="
                ../img/products/classic1x.jpg 1x,
                ../img/products/classic2x.jpg 2x
              "
              src="../img/products/classic1x.jpg"
              alt="Classic Milk Chocolate Bar"
              width="230"
              loading="lazy"
            />
          </a>
          <h3 class="products-name">CLASSIC</h3>
          <p class="products-desc">Milk chocolate</p>
          <button type="button" class="products-button">
            <span class="products-price">45 UAH</span>
          </button>
        </li>
        <li class="products-item swiper-slide">
          <a href="" class="products-link">
            <img
              srcset="
                ../img/products/honey1x.jpg 1x,
                ../img/products/honey2x.jpg 2x
              "
              src="../img/products/honey1x.jpg"
              alt="Honey Chocolate Bar"
              width="230"
              loading="lazy"
            />
          </a>
          <h3 class="products-name">HONEY</h3>
          <p class="products-desc">Milk chocolate</p>
          <button type="button" class="products-button">
            <span class="products-price">50 UAH</span>
          </button>
        </li>
        <li class="products-item swiper-slide">
          <a href="" class="products-link">
            <img
              srcset="
                ../img/products/fruits1x.jpg 1x,
                ../img/products/fruits2x.jpg 2x
              "
              src="../img/products/fruits1x.jpg"
              alt="Roasted Fruits Chocolate Bar"
              width="230"
              loading="lazy"
            />
          </a>
          <h3 class="products-name">ROASTED FRUITS</h3>
          <p class="products-desc">Dark chocolate</p>
          <button type="button" class="products-button">
            <span class="products-price">66 UAH</span>
          </button>
        </li>
        <li class="products-item swiper-slide">
          <a href="" class="products-link">
            <img
              srcset="
                ../img/products/classic-white1x.jpg 1x,
                ../img/products/classic-white2x.jpg 2x
              "
              src="../img/products/classic-white1x.jpg"
              alt="Classic White Chocolate Bar"
              width="230"
              loading="lazy"
            />
          </a>
          <h3 class="products-name">CLASSIC</h3>
          <p class="products-desc">White chocolate</p>
          <button type="button" class="products-button">
            <span class="products-price">54 UAH</span>
          </button>
        </li>
      </ul>
    </div>
  </div>
  <div class="swiper-pagination-p"></div>
</section>
